{% extends 'base.html' %}
{% load static i18n flatpages %}
{% get_available_languages as languages %}
{% block content %}
    <div class="slider-wrapper">
        <div id="slideshow" class="nivoSlider">
            {% for slider in sliders %}
                <img src="{{ slider.photo.url }}" title={{ slider.title }}/>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#slideshow').nivoSlider();
        });
    </script>
    <aside class="rightsidebar">
        <article>
            <h2>{% trans "مديريت و چارت سازماني" %}</h2>
            <ul class="list">
                <li><a href="#" title="{% trans "رياست دانشگاه" %}">{% trans "رياست دانشگاه" %}</a></li>
                <li><a href="#" title="{% trans "معاونت آموزشي" %}">{% trans "معاونت آموزشي" %}</a></li>
                <li><a href="#" title="{% trans "معاونت پژوهش و فناوري" %}">{% trans "معاونت پژوهش و فناوري" %}</a></li>
                <li><a href="#" title="{% trans "معاونت فرهنگي" %}">{% trans "معاونت فرهنگي" %}</a></li>
                <li><a href="#" title="{% trans "معاونت دانشجويي" %}">{% trans "معاونت دانشجويي" %}</a></li>
                <li><a href="#" title="{% trans "معاونت اداري و مالي" %}">{% trans "معاونت اداري و مالي" %}</a></li>
                <li><a href="#" title="{% trans "معاونت عمراني" %}">{% trans "معاونت عمراني" %}</a></li>
                <li><a href="#" title="{% trans "معاونت پزشكي" %}">{% trans "معاونت پزشكي" %}</a></li>
                <li><a href="#" title="{% trans "معاونت مدارس سماء" %}">{% trans "معاونت مدارس سماء" %}</a></li>
            </ul>
        </article>
    </aside>
    <aside class="middlesidebar">
        <article>
            <h2>گروه ها</h2>
            <ul class="list">
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده مهندسی برق" %}">{% trans "دانشکده مهندسی برق" %}</a></li>
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده مهندسی کامپیوتر" %}">{% trans "دانشکده مهندسی کامپیوتر" %}</a></li>
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده فنی و مهندسی" %}">{% trans "دانشکده فنی و مهندسی" %}</a></li>
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده مهندسی مواد" %}">{% trans "دانشکده مهندسی مواد" %}</a></li>
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده مهندسی عمران" %}">{% trans "دانشکده مهندسی عمران" %}</a></li>
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده مهندسی هسته ای و علوم پایه" %}">{% trans "دانشکده مهندسی هسته ای و علوم پایه" %}</a>
                </li>
                <li><a href="#" target="_blank" title="{% trans "دانشکده پزشکی" %}">{% trans "دانشکده پزشکی" %}</a></li>
                <li><a href="#" target="_blank"
                       title="{% trans "دانشکده هنر ، معماری و شهرسازی" %}">{% trans "دانشکده هنر ، معماری و شهرسازی" %}</a>
                </li>
            </ul>
        </article>
    </aside>
    <aside class="leftsidebar">
        <article>
            <h2>{% trans "samane_electronici" %}</h2>
            <ul class="list">
                <li><a href="#" target="_blank">{% trans "samane_entekhab_vahed_elam_nomarat" %}</a></li>
                <li><a href="#" target="_blank">{% trans "samane_asatid" %}</a></li>
                <li><a href="#" target="_blank">{% trans "naghl_o_enteghalat" %}</a></li>
                <li><a href="#" target="_blank">{% trans "ertebat_ba_sanat_va_karamozi" %}</a></li>
                <li><a href="#" target="_blank">{% trans "omor_payanname" %}</a></li>
                <li><a href="#" target="_blank">{% trans "moshtarakin_internet" %}</a></li>
                <li><a href="#" target="_blank">{% trans "otomasiyon_edari" %}</a></li>
                <li><a href="#" target="_blank">{% trans "karkonan_va_heyat_elmi" %}</a></li>
                <li><a href="#" target="_blank">{% trans "majalat_elmi_va_pazhoheshi" %}</a></li>
                <li><a href="#" target="_blank">{% trans "system_jame_moavenat_pazhoheshi" %}</a></li>
            </ul>
        </article>
    </aside>
    <aside class="newssidebar">
        <h2>{% trans "newsside_title" %}</h2>
        <p class="post-info"><a href="{% url "articles" %}">{% trans "news_archive" %}</a>></p>
        {% for article in articles %}
            <article>
                <marquee onmouseover="this.stop();" onmouseout="this.start();" direction="up" scrolldelay="1"
                         scrollamount="1">
                    <div class="bodynews">
                        <img src="{{ article.photo.url }}"/>
                        <div class="article-data">
                            <h4><a href="{% url "article_detail_view" pk=article.id %}">{{ article.title }}</a></h4>
                            <p>{{ article.text }}</p>
                        </div>
                    </div>
                </marquee>
            </article>
        {% endfor %}

    </aside>
    <aside class="content">
        <article>
            <div id="box">
                <ul id="menu">
                    <li style="border-right:none;"><a href="#amoozsh">{% trans "education" %}</a></li>
                    <li><a href="#daneshjoii">{% trans "student_affairs" %}</a></li>
                    <li><a href="#shahrie">{% trans "fee" %}</a></li>
                    <li><a href="#sabtenam">{% trans "signup" %}</a></li>
                    <li><a href="#emtehanat">{% trans "exams" %}</a></li>
                    <li><a href="#faregh">{% trans "graduates" %}</a></li>
                    <li><a href="#pajohesh">{% trans "research" %}</a></li>
                    <li><a href="#farhangi">{% trans "cultural_affairs" %}</a></li>
                    <li><a href="#karasatid">{% trans "professors" %}</a></li>
                </ul>
                <ul id="boxes">
                    <li id="amoozsh" class="box">
                        <p>آموزش</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="daneshjoii" class="box">
                        <p>دانشجویی</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="shahrie" class="box">
                        <p>شهریه</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="sabtenam" class="box">
                        <p> ثبت نام </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="emtehanat" class="box">
                        <p> امتحانات </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="faregh" class="box">
                        <p> فارغ التحصیلان </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="pajohesh" class="box">
                        <p> پژوهش </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="farhangi" class="box">
                        <p> فرهنگی </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                    <li id="karasatid" class="box">
                        <p> کارگزینی اساتید </p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی
                            مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه
                            درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت
                            بیستری
                            را برای طراحان رایانه ای و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید
                            داشت که
                            تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل
                            حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
                            قرار
                            گیرد.</p>
                    </li>
                </ul>
            </div>
        </article>
    </aside>
{% endblock %}