{% load i18n %}
<aside class="topsidebarpage">
    <article>
        <h2>پیوند ها</h2>
        <ul class="list">
            <li><a href="#">{% trans "university_president" %}</a></li>
            <li><a href="#">{% trans "educational_assistant" %}</a></li>
            <li><a href="#">{% trans "deputy_of_research_and_technology" %}</a></li>
            <li><a href="#">{% trans "cultural_deputy" %}</a></li>
            <li><a href="#">{% trans "student_vice_chancellor" %}</a></li>
            <li><a href="#">{% trans "administrative_and_financial_deputy" %}</a></li>
            <li><a href="#">{% trans "deputy_civil_engineer" %}</a></li>
            <li><a href="#">{% trans "medical_deputy" %}</a></li>
            <li><a href="#">{% trans "sama_schools_associate" %}</a></li>
        </ul>
    </article>
</aside>